footer{
    background-color: #000000;
}
#footer-itens{
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;
}
#copyright{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(57,108,36,1) 100%, rgba(0,212,255,1) 100%);
    font-weight: 500;
}

@media screen  and (max-width: 600px) {
  #footer-itens{
    flex-direction: column;
    gap: 20px;
  }  
}